.btn-export {
    margin: 0 2px !important;
    background: none !important;
    border: 1px solid #3c8dbc !important;
    color: #3c8dbc !important;
}

.btn-export:hover {
    background: #3c8dbc !important;
    color: #ffffff !important;
}

.btn-default {
    margin: 0 2px !important;
    background: #CECECE !important;
    border: 1px solid #CECECE !important;
    color: #ffffff !important;
}

.btn-default:hover {
    background: #ffffff !important;
    color: #CECECE !important;
}

.btn-primary {
    margin: 0 2px !important;
    background: #3c8dbc !important;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
}

.btn-primary:hover {
    background: #3c8dbc !important;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
    opacity: .7 !important;
}

.form-control {
    border-radius: 5px !important;
}

.rpd-edit{
    background: #ffffff !important;
    padding: 2% 10% !important;
    border-radius: 5px !important;
}

